<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/style.css">
    <title>Login page</title>
</head>
<body>
    <div class="wrapper">
        <h1>Kết nối với client</h1>
        <div class="form-control">
            <label for="username">Đường dẫn:</label>
            <input type="text" class="url" name="url">
            <div class="submit-control">
                <select class="select_auth submit-item" name="select_auth">
                    <option value="0">Tài khoản 1</option>
                    <option value="1">Tài khoản 2</option>
                    <option value="2">Tài khoản 3</option>
                </select>
                <button class="submit submit-item" data-id="1">Submit</button>
            </div>
        </div>
        <div class="result">
        </div>
    </div>
</body>
<script src="Scripts/script.js"></script>
</html>